@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}